{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Course Summary Overwrite Admin Tool

    @template admin/tool_coursesummary
    @package    tool_coursesummary
    @copyright  2019 Colin Bernard {@link https://wcln.ca}
    @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    The purpose of this template is to render a failure message telling the user that the summaries were not overwritten.
}}
<div class="tool_coursesummary_failure">
  <p><b>{{# str }} failure_bold, tool_coursesummary {{/ str }}</b> {{# str }} failure, tool_coursesummary {{/ str }}</p>
</div>
